@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Datatype:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

:root {
    --percent: 0%;

    /* BRAND - Tons de Verde */

    --color-primary-brand-hsl: 147 71% 20%; 
    --color-secondary-brand-hsl: 133 49% 41%; 

    /* NEUTRAL - Escala de Cinza */

    --color-neutral-hsl: 0 0% 0%; 
    --color-secondary-neutral-hsl: 0 0% 80%; 
    
    /* SURFACE - Branco */
    --color-surface-hsl: 0 0% 100%;

    /* --- CORES FINAIS --- */

    --color-surface: hsl(var(--color-surface-hsl));

    --color-neutral: hsl(var(--color-neutral-hsl));
    --color-neutral-05: color-mix(in srgb, var(--color-neutral), var(--color-surface) 95%);
    --color-neutral-10: color-mix(in srgb, var(--color-neutral), var(--color-surface) 90%);
    --color-neutral-20: color-mix(in srgb, var(--color-neutral), var(--color-surface) 80%);
    --color-neutral-30: color-mix(in srgb, var(--color-neutral), var(--color-surface) 70%);
    --color-neutral-40: color-mix(in srgb, var(--color-neutral), var(--color-surface) 60%);
    --color-neutral-50: color-mix(in srgb, var(--color-neutral), var(--color-surface) 50%);
    --color-neutral-60: color-mix(in srgb, var(--color-neutral), var(--color-surface) 40%);
    --color-neutral-70: color-mix(in srgb, var(--color-neutral), var(--color-surface) 30%);
    --color-neutral-80: color-mix(in srgb, var(--color-neutral), var(--color-surface) 20%);
    --color-neutral-90: color-mix(in srgb, var(--color-neutral), var(--color-surface) 10%);
    --color-neutral-100: var(--color-neutral);


    --color-primary-brand: hsl(var(--color-primary-brand-hsl));
    --color-primary-brand-05: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 95%);
    --color-primary-brand-10: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 90%);
    --color-primary-brand-20: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 80%);
    --color-primary-brand-30: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 70%);
    --color-primary-brand-40: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 60%);
    --color-primary-brand-50: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 50%);
    --color-primary-brand-60: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 40%);
    --color-primary-brand-70: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 30%);
    --color-primary-brand-80: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 20%);
    --color-primary-brand-90: color-mix(in srgb, var(--color-primary-brand), var(--color-surface) 10%);
    --color-primary-brand-100: var(--color-primary-brand);


    --color-secondary-brand: hsl(var(--color-secondary-brand-hsl));
    --color-secondary-brand-05: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 95%);
    --color-secondary-brand-10: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 90%);
    --color-secondary-brand-20: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 80%);
    --color-secondary-brand-30: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 70%);
    --color-secondary-brand-40: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 60%);
    --color-secondary-brand-50: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 50%);
    --color-secondary-brand-60: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 40%);
    --color-secondary-brand-70: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 30%);
    --color-secondary-brand-80: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 20%);
    --color-secondary-brand-90: color-mix(in srgb, var(--color-secondary-brand), var(--color-surface) 10%);
    --color-secondary-brand-100: var(--color-secondary-brand);
}

body{
    min-width: 300px;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

