.card {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 4px 8px var(--color-neutral-20);
    background-color: var(--color-surface);
}

.card__status {
    padding: 2px 4px;
    width: fit-content;
    color: var(--color-secondary-brand-100);
    background-color: var(--color-secondary-brand-20);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 0.75rem;
}

.card__body {
    display: flex;
    justify-content: space-between;
}


.card__text {
    display: flex;
    max-width: 60%;
    flex-direction: column;
    gap: 8px;
}

/* --- VALUE --- */

.card__value {
    font-weight: 600;
    color: var(--color-primary-brand-100);
    font-size: 1.5rem;
}

/* --- DESCRIPTION --- */

.card__description--small {
    font-weight: 400;
    color: var(--color-neutral-60);
    font-size: 0.85rem;
}


/* --- TITLE --- */

.card__title--primary {
    font-weight: 600;
    color: var(--color-primary-brand-100);
    font-size: 1.5rem;
}


.card__title--secondary {
    font-weight: 600;
    color: var(--color-neutral-60);
    font-size: 1rem;
}

.card__subtitle {
    color: var(--color-neutral-70);
}

/* BUTTON */

.card__button {
    height: fit-content;
    padding: 16px 24px;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
}

.button--primary {
    background-color: var(--color-secondary-brand-100);
    color: var(--color-surface);
    border: none;
}

/* PROGRESS BAR */

.card__progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

