/* HEADER */

.header 
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--color-primary-surface-rgb));
}

.header .header__body
{
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.header__logo
{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.header__logo > h1
{
    color: var(--color-primary-brand-100);
}

.header__logo > span
{
    color: var(--color-neutral-60);
}

.header__nav
{
    display: flex;
    gap: 20px;
}

.header__item
{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-neutral-60);
}


.header_item--active
{
    color: var(--color-secondary-brand-100);
}